* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    height: 40px;
}

.header__left {
    max-width: 137px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header__text1 {
    color: #000;
    font-family: "Gilroy-Bold", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__text2 {
    color: #F25822;
    font-family: "Gilroy-Bold", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__right {
    max-width: 533px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__right > a, .select__features {
    cursor: pointer;
}

.select__features {
    border: none;
    outline: none;
    font-family: 'Gilroy-Medium', sans-serif;
}

/* Main */
.main__content {
    margin: 84px 0 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main__left {
    display: flex;
    flex-direction: column;
}

.main__heading {
    margin: 0 0 17px 0;
    color: #000;
    font-family: Gilroy-Bold, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
}

.main__paragraph {
    margin: 0 0 37px 0;
    color: #888;
    font-family: Gilroy-Medium, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
}

.main__btns {
    width: 302px;
    display: flex;
    justify-content: space-between;
}

.btn__start {
    border: none;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn__watch:disabled {
    border: none;
    background: none;
    color: #AAA;
    font-family: Gilroy-Bold, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

/* Main bottom */
.main__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

/* Goals Offer */
.goals__offer {
    height: 491px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goals__offer__card {
    width: 310px;
    height: 226px;
    transition: box-shadow, padding .3s ease-in-out;
}

.goals__offer__card:hover {
    padding: 65px 60px;
    border-radius: 15px;
    -webkit-box-shadow: 0 16px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 16px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 16px 10px 2px rgba(34, 60, 80, 0.2);
}

.offer__heading {
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    margin: 15px 0;
}

.offer__paragraph {
    font-family: Gilroy-Regular, serif;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    margin: 20px 0;
    color: rgba(102, 102, 102, 1);
}

.readMore__btn {
    font-family: Gilroy-Bold, serif;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    cursor: pointer;
}

/* Cards */
.offers {
    width: 100%;
    height: 919px;
}

.offers__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 50px;
}

.offers__top__heading {
    font-family: Gilroy-Bold, serif;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.offers__top__paragraph {
    font-family: Gilroy-Regular, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    width: 682px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
    opacity: 80%;
}

.offers__cards {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 370px;
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .2s ease-in-out;
}

.cards:hover {
    -webkit-box-shadow: 4px 15px 20px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 15px 20px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 15px 20px 0 rgba(34, 60, 80, 0.2);
}

.cards__img {
    width: 370px;
    height: 270px;
}

.card__heading {
    margin: 20px;
    font-family: Gilroy-Bold, serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
}

.card__paragraph {
    width: 310px;
    text-align: center;
    font-family: Gilroy-Regular, serif;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgba(170, 170, 170, 1);
    opacity: 90%;
}

.learn__moreBtn {
    background-color: rgba(242, 88, 34, 1);
    width: 150px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}

.learn__moreBtn:hover {
    -webkit-box-shadow: 0 5px 10px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 6px rgba(34, 60, 80, 0.2);
}

.learn__moreBtn__text {
    font-family: Gilroy-Medium, serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
    margin-right: 7px;
}

.arrow {
    transition: padding-left .2s ease-in-out;
    display: block;
}

.learn__moreBtn:hover .arrow {
    padding-left: 10px;
}